.container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title-register {
  //font-family: 'Viga', sans-serif;
  padding-top: 20%;
  color: white;
}
.link {
  text-decoration: none;
  color: whitesmoke;
}

.buttons-register {
  justify-content: space-between;
}
