//Fonts
@import url('https://fonts.googleapis.com/css?family=Viga');

.title-login {
  //font-family: 'Viga', sans-serif;
  padding-top: 30%;
  color: white;
}
.buttons-login {
  justify-content: space-between;
  color: white !important;
}
.control {
  margin-bottom: 10px;
}
