//Fonts
@import url('https://fonts.googleapis.com/css?family=Viga');

.container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title-login {
  //font-family: 'Viga', sans-serif;
  padding-top: 30%;
  color: white;
}
.buttons-login {
  justify-content: space-between;
  color: white !important;
}
.control {
  margin-bottom: 10px;
}
